html, body {
  font-family: 'Raleway', sans-serif;
  /*sourcesanspro*/
  letter-spacing: .5px;
   margin: 0;
   padding: 0;
   height: 100%;
   background-color: #DFDFDF;
   text-decoration: none;

}
.proj_pics {
   text-align: center;
   left: 0;
   right: 0;
   margin: auto;
   display: inline-block;
   width: 100%;
}
.pic_style {
   /* max-width: 200px;
   max-height: 200px; */
   height: 200px;
   width: 200px;
   margin: 20px 20px 0 20px;
   border-radius: 10px;
   /*padding: 20px 20px 0px 20px;*/
}


.contain {
  position: relative;
  width: 200px;

}

.image {
  display: block;
  width: 100%;
  height: auto;

}

.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   max-width: 200px;
   max-height: 200px;
   opacity: 0;
   transition: .5s ease;
   background-color: #008CBA;
}

.contain:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

.topnav {
   font-family: 'Raleway', sans-serif;
   background-color: #262626;
   top:0;
   float: right;
   width:100%;
}

.topnav a {
   float: right;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   font-size: 17px;
   transition: 0.2s ease;
   font-weight: 100;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #262626;
    color: white;
}

.topnav .icon {
    display: none;
}

#social {
   text-align: center;
   left: 0;
   right: 0;
   margin: auto;
   display: inline-block;
   width: 100%;
}
#projects {
   padding-top: 3rem;
   line-height: 2rem;
   background-color: #DFDFDF;
   font-size: 1rem;
   text-align: center;
   left: 0;
   right: 0;
   margin: auto;
   display: inline-block;
   width: 100%;
   font-weight: lighter;
}
.fa {
   transition: 0.2s ease;

}
i {
   color: #555;
   padding: 2rem;
}


.fa-facebook:hover {
   color: #3B5998;

}
.fa-github:hover {
   color: #333333;

}
.fa-linkedin:hover {
   color: #4875B4;

}

.skill {
   font-weight: 100;
   border: 1px solid #50a9d1;
   margin-right: 10px;
   text-transform: uppercase;
   font-weight: 500;
   width: auto;
   display: inline-block;
   font-size: 11px;
   line-height: 1.33333em;
   padding: 7px 18px;
   margin-top: 0.8em;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   border-radius: 8px;
}


.tools {
  border-color: #86BE91;
}

.courses {
  border-color: #FAA1A1;
}

.left {
   float:left;
   font-family: 'Open Sans', sans-serif;
}

hr {
   width: 50%;
}
.icon {
   margin-top:2.5rem;
   float:left;
   margin-left:20%;

}
#company {
   margin-top: 2rem;
   float:left;
   margin-left:25%;
   font-style:bold;
   font-weight: 420;
}



#date {
   margin-top: 2rem;
   float:right;
   margin-right: 25%;
   font-style:italic;
   opacity: .8;
   font-weight: 100;
}

#fdate {
   margin-top: 2rem;
   float:right;
   margin-right: 25%;
   font-style:italic;
   opacity: 0;
   font-weight: 100;
   visibility: hidden;

}

#location {
   float:right;
   margin-right: 25%;
   font-style:italic;
   opacity: .8;
   font-weight: 100;
}


#detailOfExp {

   margin-top: 2rem;
   font-weight: lighter;
   float:left;
   margin-left: 25%;
   max-width: 50%;
   margin-bottom: 2rem;
}

#experience {
   line-height: 2rem;
   background-color: #DFDFDF;
   font-size: 1rem;
}

#titleOfExp {
   text-align: center;
   font-weight: lighter;
}

#profilePic {
   padding-top: 2%;
   text-align: center;
}

.hi {
   max-width: 12rem;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.row {
  line-height: 5rem;
}


#aboutMeContainer {
  background-color: #DFDFDF;

}


.colr {
  /*background-color: #F0F0F0;*/
  margin-top: 10rem;
  background-color: #DFDFDF;
}
#aboutMe {
  font-family: 'Raleway', sans-serif;

  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  font-weight: lighter;
}

#aboutMeContainer p {
  font-size: 1rem;
  opacity: .8;
  text-align: center;
  padding: 3rem 9rem 3rem 9rem;
}

#particles-js {

   height: 100%;

   /*background-image: url("../night.jpeg");
   */
   background: #262626;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

#title h1 {
  position: absolute;
  font-size: 3.5rem;
  top: 16rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
  font-weight: lighter;
  -webkit-font-weight: lighter;
  -moz-font-weight: lighter;
  -ms-font-weight: lighter;
  -o-font-weight: lighter;

}

#resume {
  position: absolute;
  text-align: center;
  top: 23rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-font-weight: lighter;
  -moz-font-weight: lighter;
  -ms-font-weight: lighter;
  -o-font-weight: lighter;
}

#scroll {
  position: absolute;
  /*top: 44rem;*/
  top: 85%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.button {
   border-radius: 3rem;
   width: 9rem;
   height: 3rem;
   color: white;
   background-color: Transparent;
   outline:none;
   border: solid #DEE5F5 1px;
   text-decoration: none;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;

}

.button span {

   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
   padding-right: 25px;
}

.button:hover span:after {
   opacity: 1;
   right: 0;
}

#bord {
  border: 1px solid black;

}


@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;


}



@media only screen and (max-width: 500px) {
   img {
      width: 25%;
      height:25%;
   }
   img.icon {
      visibility: hidden;
      width: 65px;
      height: 65px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius:50%;
      float: left;
      display: block;
      margin-left: -95px;
      margin-top: 5px;
      background-color: #fff;
      opacity: 0.8;
      z-index: 0;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);   /*For Webkit browsers */
      filter: gray;  /* For IE 6 - 9 */
      -webkit-transition: all .4s ease;
   }

   img.icon:hover {
      visibility: hidden;
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
     filter: none;
   }
   /*
   .topnav {
      visibility: hidden;
   }


.topnav a:not(:first-child) {
   display: none;
}
.topnav a.icon {
   float: right;
   display: block;
}
.topnav.responsive {
   position: relative;
}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
}*/


#detailOfExp {

   margin-top: 0rem;
   margin-left: 10%;
   max-width: 80%;
   margin-bottom: 2rem;
}

#company {
   margin-top: 2rem;
   float:left;
   margin-left:10%;
   padding-bottom: 1rem;
}

#date {
   visibility: hidden;
   position:absolute;

}
#location {
   visibility: hidden;
   position:absolute;

}

#title h1 {
  position: absolute;
  font-size: 3.5rem;
  top: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
  font-weight: lighter;
}

#resume {
  position: absolute;
  text-align: center;
  top: 17rem;
  left: 0;
  right: 0;
  margin: 0 auto;

}

#scroll {
  position: absolute;
  top: 30rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.parallax {
  background-attachment: scroll;
  height: 100%;

}

#aboutMeContainer p {
  font-size: 1rem;
  opacity: .8;
  text-align: center;
  padding: 3rem 3rem 3rem 3rem;
}


}
