body {
  font-family: 'Raleway', sans-serif;
   margin: 0;
   padding: 0;
   height: 100vh;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.bottom-buffer { margin-bottom:5rem; }

.parallax {
    /* The image used */
    /*background-image: url("../night.jpeg");*/
    background-color: #ECECEC;

    /* Full height */
    height: 70%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutMe {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  font-weight: lighter;
}

#hi p {
  font-size: 1rem;
  opacity: .8;
  text-align: center;
  padding: 3rem 8rem 3rem 8rem;
}


#particles-js {
   height: 100%;
   background: #262626;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#title h1 {
  position: absolute;
  font-size: 3.5rem;
  top: 16rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
  font-weight: lighter;
}

#resume {
  position: absolute;
  text-align: center;
  top: 23rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;

}

#scroll {
  position: absolute;
  /*top: 44rem;*/
  top: 85%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.button {
   border-radius: 3rem;
   width: 9rem;
   height: 3rem;
   color: white;
   background-color: Transparent;
   outline:none;
   border: solid #DEE5F5 1px;
   text-decoration: none;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;

}

.button span {

   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
   padding-right: 25px;
}

.button:hover span:after {
   opacity: 1;
   right: 0;
}

#bord {
  border: 1px solid black;

}


@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;


}



@media only screen and (max-width: 500px) {

#title h1 {
  position: absolute;
  font-size: 3.5rem;
  top: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
  font-weight: lighter;
}

#resume {
  position: absolute;
  text-align: center;
  top: 17rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;

}

#scroll {
  position: absolute;
  top: 30rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.parallax {
  background-attachment: scroll;
}

#hi p {
  font-size: 1rem;
  opacity: .8;
  text-align: center;
  padding: 3rem 3rem 3rem 3rem;
}


}
